body {
    margin: 60px auto;
    width: 70%;
}
body.is-mobile {
    margin: 30px auto;
    width: 85%;
}
nav {
    position: relative;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgba(0, 200, 0, 1);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.is-mobile h1 {
    font-size: 2em;
}
h2 {
    font-size: 2.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
.is-mobile p {
    font-size: 1.2em;
    line-height: 1.2em;
}
img {
    max-width: 100%;
}
footer {
    text-align: center;
    font-size: .8em;
}
pre code {
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 24px;
    overflow-y: scroll;
}

/* repo table */
table {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  border-spacing: 0;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
td, th {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 4px 8px;
}



/* github star */
nav > span {
    display: inline;
    position: absolute;
    right: 0px;
    top: -1px;
}


