body {
    margin: 60px auto;
    width: 70%;
}
body.is-mobile {
    margin: 30px auto;
    width: 85%;
}
nav {
    position: relative;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.is-mobile h1 {
    font-size: 2em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
.is-mobile p {
    font-size: 1.2em;
    line-height: 1.2em;
}
img {
    max-width: 100%;
}
footer {
    text-align: center;
    font-size: .8em;
}

/* github star */
nav > span {
    display: inline;
    position: absolute;
    right: 0px;
    top: -1px;
}


