body {
    margin: 60px auto;
    width: 70%;
}
body.is-mobile {
    margin: 30px auto;
    width: 85%;
}
nav {
    position: relative;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
#nav-mobile-menu span{
    color: rgba(0, 200, 0, 1);
    cursor: pointer;
}
/* mobile menu */
@media only screen and (max-width: 600px) {
  nav #nav-menu li, footer ul li {
      display: block;
      border-top: 1px solid #eee;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-right: inherit;
  }
}

a {
    text-decoration: none;
    color: rgba(0, 200, 0, 1);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.is-mobile h1 {
    font-size: 2em;
}
h2 {
    font-size: 2.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
.is-mobile p {
    font-size: 1.2em;
    line-height: 1.2em;
}
img {
    max-width: 100%;
}
footer {
    text-align: center;
    font-size: .8em;
}
pre code {
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 24px;
    overflow-y: scroll;
}
h2 {
  margin-bottom: 0;
}
h6 {
  margin: 0;
  font-weight: normal;
}

/* repo table */
table {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  border-spacing: 0;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
td, th {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 6px 12px;
}

/* github star */
nav > span {
    display: inline;
    position: absolute;
    right: 0px;
    top: -1px;
}


/* mobile table */
@media only screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  table {
    border-left: inherit;
    border-top: inherit;
  }
  th {
    display: none;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    position: relative;
    padding-left: 10px;
    margin-left: 100px;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 50px;
    padding-right: 10px;
    white-space: nowrap;
    margin-left: -100px;
  }
  td:nth-of-type(1):before { content: "Rank"; }
  td:nth-of-type(2):before { content: "Project"; }
  td:nth-of-type(3):before { content: "License"; }
  td:nth-of-type(4):before { content: "Adoption";}
  td:nth-of-type(5):before { content: "Issue";}
}
